<h1>Listing scenarios</h1>

<table>
  <tr>
    <th>Test scenario</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scenarios.each do |scenario| %>
  <tr>
    <td><%= scenario.test_scenario %></td>
    <td><%= scenario.description %></td>
    <td><%= link_to 'Show', scenario %></td>
    <td><%= link_to 'Edit', edit_scenario_path(scenario) %></td>
    <td><%= link_to 'Destroy', scenario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scenario', new_scenario_path %>
